JWT_SECRET="$(openssl rand -base64 32)"
HEADLESS_IMAGE_NAME="ghcr.io/hantabaru1014/baru-reso-headless-container"
HEADLESS_REGISTRY_AUTH='{"username":"<GITHUB_USERNAME>","password":"<PAT with read:packages scope>"}'
GHCR_AUTH_TOKEN="<PAT with read:packages scope>"
DOCKER_GID=$(grep docker /etc/group | cut -d: -f3)
POSTGRES_PASSWORD="$(openssl rand -base64 32)"
DB_URL="postgres://postgres:${POSTGRES_PASSWORD}@localhost:5432/brhcdb?sslmode=disable"

# コンテナイメージの確認間隔（秒単位、デフォルト: 15秒）
IMAGE_CHECK_INTERVAL_SEC=15
# 新しいコンテナイメージを自動的にプルするか（デフォルト: false）
AUTO_PULL_NEW_IMAGE=true
