services:
  app:
    image: ghcr.io/hantabaru1014/baru-reso-headless-controller:latest
    env_file: .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    # docker.sockのpermission denied対策 ref: https://qiita.com/asaneyuki/items/c46b93cf55e0835c9cd4
    group_add:
      - ${DOCKER_GID}
    network_mode: host

  fluentd:
    image: fluent/fluent-bit:latest
    command: ["/fluent-bit/bin/fluent-bit", "-c", "/fluent-bit/etc/fluent-bit.yaml"]
    ports:
      - "24224:24224"
    environment:
      - PGPASSFILE=/etc/secrets/.pgpass
    volumes:
      - type: bind
        source: "./fluentd/container-logs.yaml"
        target: "/fluent-bit/etc/fluent-bit.yaml"
      - type: bind
        source: "./.pgpass"
        target: "/etc/secrets/.pgpass"
        read_only: true
